[Unit]
Description=gunicorn daemon para SistemaWeb
After=network.target

[Service]
User=samuel
Group=www-data
WorkingDirectory=/home/samuel/SistemaWeb
ExecStart=/usr/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 settings.wsgi:application

[Install]
WantedBy=multi-user.target